/.current.py
/.env
/10.2.py
/8.4.py
/9.4.PY
/api.py
/Bot server
/Courseracourse.py
/File opening.py
/MainEuler.py
/mbox-short.txt
/ProteinAnalysis.py
/ProteinData.txt
/ProteinData2.txt
/pythoncourse.py
/pythoncourse1final.py
/rachel.py
/romeo.txt
/Schistosoma Human Proteins Mass Spec Final Unprocessed.xlsx
/Schistosoma Proteins Mass Spec Final Unprocessed.xlsx
/sleep
/words.txt